// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(700);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$medium-screen: em(640);
$large-screen: em(860);

$desktop-wide        : new-breakpoint(min-width 1370px);
$desktop             : new-breakpoint(min-width 1001px);
$desktop-narrow      : new-breakpoint(max-width 1000px);
$desktop-narrow-only : new-breakpoint(min-width 769px max-width 1000px);
$tablet              : new-breakpoint(max-width 768px);
$tablet-only         : new-breakpoint(min-width 640px max-width 768px);
$phone-wide          : new-breakpoint(max-width 669px);
$phone-wide-only     : new-breakpoint(min-width 480px max-width 639px);
$phone               : new-breakpoint(max-width 479px);
$not-phone           : new-breakpoint(min-width 480px);
$phone-short         : new-breakpoint(max-height 320px);
$netbook-11          : new-breakpoint(max-height 600px);
$netbook-13          : new-breakpoint(max-height 790px);
$ratio-small         : new-breakpoint(min-width 1670px max-height 639px);
