// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;
$mono: 'Courier New', Courier, monospace;

$base-font-family: 'nimbus-sans', $serif;
$header-font-family: 'freight-display-pro', $helvetica;
$title-font-family: 'ff-meta-serif-web-pro', $serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: 1.5;
$base-border-radius: em(3);

$grid-padding-desktop: 40px;
$grid-padding-tablet: 20px;
$grid-padding-phone: 14px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$blue-white: #e6f2ff;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$off-gray: #d7d2d3;
$warm-gray: #564d58;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $warm-gray;
$base-accent-color: $blue;
$overlay-text-color: white;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// animation
$scroll-curve: cubic-bezier(0.7,0,0.3,1);

// header stuff
$bg-mask-size-top: 10%;
$bg-mask-size-side: 7%;

$nav-height-desktop: 86%;
$nav-height-netbook-11: 80%;
$nav-height-phone-short: 76%;
$nav-height-phone: 82%;

$mask-height-desktop: 27%;
$mask-height-netbook-11: 100% - $nav-height-netbook-11 + 10%;
$mask-height-phone-short: 100% - $nav-height-phone-short + 10%;
$mask-height-phone: 100% - $nav-height-phone + 10%;

$header-left-width: 53%;

$nav-logo-size-desktop : 64px;
$nav-logo-size-phone : 54px;
