@import 'init';

.last {margin-right: 0 !important;}

.no-wrap {white-space: nowrap;}

.left {float: left;}

.right {float: right;}

.css-cols-3 {
  font-size: $base-font-size;
  @include column-count(3);
  @include column-width(200px);
  // @include column-gap(30px);
  // text-align: justify;
}

.text-subtle {
  color: rgba($base-font-color, 0.75);
}

.wf-loading .fade-text, .fade-text {
  @include transition-property(opacity, transform);
  @include transition-duration(1200ms);
  @include transition-timing-function(ease);
  opacity: 0;
  @include transform(translateY(-10px));
}

.wf-active .fade-text, .wf-inactive .fade-text, {
  opacity: 1;
  @include transform(translateY(0px));
}

.fade-bg-canvas {
  .top-container:not(.notrans) & {
    @include transition-property(opacity, transform);
    @include transition-duration(1000ms);
    @include transition-timing-function(ease);
    opacity: 0;
    @include transform(translateZ(0) scale(1.05));
  }
}

.fade-bg-canvas-loaded {
  .top-container:not(.notrans) & {
    opacity: 1;
    @include transform(translateZ(0) scale(1));
  }
}

.fade-with-bg {
  @include transition-property(opacity, transform);
  @include transition-duration(1200ms);
  @include transition-timing-function(ease);
  opacity: 0;
  @include transform(translateY(-10px));
}

.fade-with-bg-loaded {
  opacity: 1;
  @include transform(translateY(0px));
}