@import 'init';


html {
  height: 100%;
  // -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  height: 100%;
}

.header, .top-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $off-gray;
  overflow: hidden;
}

.bg-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.bg-canvas__image {
  @include position(absolute, 0px 0% 0px 0px);
  @include background-cover(bottom);
  background-color: $warm-gray;
  // background-attachment: fixed;
  .top-container:not(.notrans) & {
    @include transition-property(opacity, transform);
    @include transition-duration(500ms);
    @include transition-timing-function($scroll-curve);
  }
  opacity: 0.75;
  .modify:not(.notrans) & {opacity: 1;}
}

.bg-canvas__mask {
  position: absolute;
  background-color: rgba(#fff, 0.9);
  opacity: 0;
  display: none;
  // .top-container:not(.notrans) & {
  //   @include transition-property(transform, opacity);
  //   @include transition-duration(400ms);
  //   @include transition-delay(100ms);
  //   @include transition-timing-function(ease);
  //   @include transform(translateY(80px));
  // }
  &:after {
    content: "";
    @include position(absolute, 70% 0px 0px 0px);
    @include linear-gradient(rgba(#fff, 0), #fff);
  }
  // .modify:not(.notrans) & {
  //   @include transform(translateY(0px));
  //   opacity: 1;
  // }
}

$mask-border-width-desktop : 12px;

.mask--bottom {
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $nav-height-desktop;
  @include media($netbook-11) {
    height: $nav-height-netbook-11;
  }
  @include media($phone-short) {
    height: $nav-height-phone-short;
  }
  @include media($phone) {
    height: $nav-height-phone;
  }
}
.mask--left {
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: $mask-border-width-desktop;
  @include transform(translateX(-100%));
  .modify:not(.notrans) & {@include transform(translateX(0))}
}

.header-overlay {
  position: absolute;
  top: 50%;
  width: 100%;
}

.header-top-left {
  position: relative;
  cursor: s-resize;
  .top-container:not(.notrans) & {
    @include transition-property(color, transform, opacity);
    @include transition-duration(500ms);
    @include transition-timing-function($scroll-curve);
  }
  color: $overlay-text-color;
  @include transform(translateY(-128px));
  .modify:not(.notrans) & {
    @include transform(translateY(-192px));
    opacity: 0;
  }
  .h1 {
    display: inline;
    line-height: .9;
    // &:before {
    //   position: absolute;
    //   left: -100px;
    // }
  }
  @include media($phone-wide) {
    @include transform(translateY(-90px));
    .modify:not(.notrans) & {
      @include transform(translateY(-160px));
    }
  }
}

.splash-logo {
  text-align: center;
  @include tap-highlight;
  .splash-logo__inner {
    display: inline-block;
    width: 256px;
    opacity: 1;
  }
  @include media($phone-wide) {
    .splash-logo__inner {
      width: 180px;
    }
  }
}

.title-alt {display: none;}

.title-alt, .title-name {
  // @include position(absolute, 0px 0 0 0px);
}

.slide-trigger {
  cursor: s-resize;
  @include tap-highlight;
  .modify:not(.notrans) & {cursor: default;}
}

.header-nav {
  @include position(absolute, 0px 0px $nav-height-desktop 0px);
  &.nav-light {
    a {color: #fff}
  }
  @include media($netbook-11) {
    bottom: $nav-height-netbook-11;
  }
  @include media($phone-short) {
    bottom: $nav-height-phone-short;
  }
  @include media($phone) {
    bottom: $nav-height-phone;
  }
}

.header-nav__inner {
  display: table;
  height: 100%;
  width: 100%;
}

.header-nav__valign {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.nav-social-links {
  @include clearfix;
  position: relative;
  margin: 0 auto;
  max-width: em(400);
  top: 2px;
  a {
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
    opacity: 0.8;
    &:last-child {margin-right: 0;}
    &:hover {opacity: 1;}
  }
  .social-links__left,
  .social-links__right {
    width: 50%;
  }
  .social-links__left {
    float: left;
    text-align: right;
    padding-right: 5px;
  }
  .social-links__right {
    float: right;
    text-align: left;
    padding-left: 5px;
  }
  @include media($phone) {
    a {
      padding: 10px 12px;
      margin-right: 0;
    }
    .social-links__left {padding-right: 0;}
    .social-links__right {padding-left: 0;}
  }
  .final-state & {
    .social-links__left a {@include transform(translateX(-100%));}
    .social-links__right a {@include transform(translateX(100%));}
  }
}

.nav-logo {
  @include position(absolute, 50% 0 0 0);
  width: $nav-logo-size-desktop;
  margin-top: -($nav-logo-size-desktop / 2);
  margin-left: -($nav-logo-size-desktop / 2);
  display: none;
  a {
    opacity: 0.9;
    &:hover {opacity: 1;}
  }
  @include media($phone) {
    width: $nav-logo-size-phone;
    margin-top: -($nav-logo-size-phone / 2);
    margin-left: -($nav-logo-size-phone / 2);
  }
  .final-state & {
    display: inline-block;
  }
}

.header-content {
  @include position(absolute, $mask-height-desktop 0px 0 0px);
  text-align: center;
  @include media($netbook-11) {
    top: $mask-height-netbook-11;
  }
  @include media($phone-short) {
    top: $mask-height-phone-short;
  }
}

.icon--more {
  margin-top: $base-font-size * 3;
  font-size: 48px;
  color: rgba($base-font-color, 0.2);
  @include media($netbook-11) {
    margin-top: $base-font-size;
  }
  @include media($phone) {
    margin-top: 10px;
  }
}

// .slide-in-item {
//   html:not(.no-js) & {
//     opacity: 0;
//     display: none;
//   }
// }

// .toggle-up {
//   cursor: n-resize;
// }

.content {
  position: relative;
  // top: -5%;
  @include media($phone-short) {
    bottom: -130px;
  }
}